[submodule "sites/hypernova-site"]
	path = sites/hypernova-site
	url = https://github.com/lossless-group/hypernova-site.git
[submodule "sites/cilantro-site"]
	path = sites/cilantro-site
	url = https://github.com/lossless-group/cilantro-site.git
	branch = main
[submodule "sites/coglet-shuffle"]
	path = sites/coglet-shuffle
	url = https://github.com/lossless-group/steampunk-site.git
[submodule "sites/cogs-site"]
	path = sites/cogs-site
	url = https://github.com/lossless-group/cogs-site.git
[submodule "sites/twf_site"]
	path = sites/twf_site
	url = https://github.com/lossless-group/the-water-foundation-site.git
[submodule "sites/dark-matter"]
	path = sites/dark-matter
	url = https://github.com/lossless-group/matter-site.git
