[submodule "sites/hypernova-site"]
	path = sites/hypernova-site
	url = https://github.com/lossless-group/hypernova-site.git
[submodule "sites/cilantro-site"]
	path = sites/cilantro-site
	url = https://github.com/lossless-group/cilantro-site.git
	branch = main
[submodule "sites/coglet-shuffle"]
	path = sites/coglet-shuffle
	url = https://github.com/lossless-group/steampunk-site.git
